.main {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.main > div {
  width: 20vw;
  height: 20vw;
  padding: 1vw;
  margin: 1vw;
}
.main > div img {
  width: 100%;
}
.main-input {
  width: 10px !important;
}

@media screen and (max-width: 595px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
  }
  .main > div img {
    margin: 10px 0;
  }
}
