.about {
  max-width: 480px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: rgb(224, 221, 221);
}
