.navigation {
  padding: 0;
  margin: 0;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  background-color: black;
  color: rgb(224, 221, 221);
  height: 100%;
}

.nav-link {
  padding: 0 10px;
  color: rgb(224, 221, 221);
  border-radius: 2px;
  border-color: rgb(224, 221, 221);
  text-decoration: none;
}
