.button {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem;
}

.button > button,
.button > button:focus {
  border-radius: 18px;
  color: rgb(224, 221, 221);
  background-color: #3171e0;
  border: none;
  padding: 10px 20px;
}

.button > button:hover {
  background-color: rgba(2, 85, 229, 1);
}
